<div id="nav-bar">
    <div id="bar-content">
        <img id="logo" src="/components/nav-bar/resources/logo.png">
        <div id="title">
            <div id="name">Rainarea</div>
            <div><span id="mode">TIMELINE</span></div>
        </div>
        <div id="menu">
            <div><img id="settings" src="/components/nav-bar/resources/settings.png"></div>
            <div>
                <span id="social">Social</span>
                <div class="social-item" id="weibo"></div>
                <div class="social-item" id="music163"></div>
                <div class="social-item" id="zhihu"></div>
            </div>
            <div><span id="lab">Lab</span></div>
            <div><span id="about">About</span></div>
        </div>
    </div>
</div>