<div id="nav-bar">
    <div id="nb-content">
        <div id="nb-logo"></div>
        <div id="nb-title">
            <div id="nb-name">Rainarea</div>
            <div><span id="nb-mode">TIMELINE</span></div>
        </div>
        <div id="nb-menu">
            <div>
                <img id="nb-settings" src="/components/nav-bar/resources/settings.png">
                <div class="nb-settings-item" id="nb-lang"></div>
            </div>
            <div>
                <span id="nb-social">Social</span>
                <a class="nb-social-item" id="nb-weibo" target="_blank" href="http://weibo.com/u/2313109742"></a>
                <a class="nb-social-item" id="nb-music163" target="_blank" href="http://music.163.com/#/user/home?id=75915200"></a>
                <a class="nb-social-item" id="nb-zhihu" target="_blank" href="https://www.zhihu.com/people/drop-yain/"></a>
            </div>
            <div><a href="http://lab.rarea.net/"><span id="nb-lab">Lab</span></a></div>
            <div><span id="nb-about">About</span></div>
        </div>
    </div>
</div>