#nav-space{
    min-width: 100vw;
    /*medium screen*/
    height: 10vw;
}
#nav-bar{
    background-color: cornflowerblue;
    color: white;
    position: fixed;
    top: 0;
    z-index: 1000;
    min-width: 100vw;
    line-height: 1;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    transition: All 0.2s ease;
}
#nav-bar *{
    transition: All 0.2s ease;
}
/*Nav Bar Overall*/
#bar-content{
    position: relative;
    font-family: fantasy;
    user-select: none;
    /*medium screen*/
    height: 10vw;
}
/*Logo Part*/
#logo{
    display: inline-block;
    /*medium screen*/
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 8vw;
    height: 8vw;
}
/*Title Part*/
#title{
    display: inline-block;
    /*medium screen*/
    margin-left: 1vw;
    margin-right: 1vw;
    width: 25vw;
    height: 10vw;
}
#title div{
    /*Compatible flex*/
    display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -moz-flex;
        display: -ms-flexbox;
    /*Compatible justify-content*/
    justify-content: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
    /*Compatible align-items*/
    align-items: center;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
}
#name{
    padding-top: 10%;
    height: 70%;
    font-size: 4.8vw;
}
#name ~ div{
    position: relative;
    width: 100%;
    height: 30%;
    overflow: hidden;
}
#mode{
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    padding-left: .8vw; padding-right: .8vw;
    background-color: #FFD382;
    border-radius: 1vw;
    font-family: monospace;
    color: darkslategrey;
    font-size: 3vw;
}
/*Menu Part*/
#menu{
    position: absolute;
    right: 0vw;
    padding-right: 3vw;
    display: inline-block;
    width: 50vw;
    height: 10vw;
}
#menu > div{
    /*medium screen*/
    float: right;
    margin-left: 10%;
    height: 100%;
    display: inline-block;
    /*Compatible flex*/
    display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -moz-flex;
        display: -ms-flexbox;
    /*Compatible justify-content*/
    justify-content: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
    /*Compatible align-items*/
    align-items: center;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
}
#menu > div span, #menu > div img{
    cursor:pointer;
    font-size: 2.5vw
}
#settings{
    /*medium screen*/
    width: 5vw;
    height: 5vw;
}
#menu > div:nth-child(2){
    position: relative;
}
.social-item{
    visibility: hidden;
    position: absolute; left: 50%;
    border: 1px solid rgba(255, 255, 255, 0);
    background: no-repeat center #4DD8C9;
    background-size: 62.5%;
    background-clip:padding-box;
    cursor:pointer;
    opacity: 0;
    transform: translate(-50%) rotateX(90deg);
    transform-origin: top;
    transition: All .5s ease;
    /*medium screen*/
    width: 8vw;
    height: 8vw;
}
.social-item-shown{
    visibility: visible;
    transform:translate(-50%) rotateX(0deg);
    opacity: .8;
}
#weibo{
    background-image: url("/components/nav-bar/resources/weibo.png");
    /*medium screen*/
    bottom: -8vw;
}
#music163{
    background-image: url("/components/nav-bar/resources/music163.png");
    /*medium screen*/
    bottom: -16vw;
}
#zhihu{
    background-image: url("/components/nav-bar/resources/zhihu.png");
    /*medium screen*/
    bottom: -24vw;
}

/*Small Screen*/
@media screen and (max-width: 600px){
    
}
/*Medium Screen*/
@media screen and (min-width: 601px) and (max-width: 1000px){
    
}
/*Large Screen*/
@media screen and (min-width: 1001px) and (max-width: 1800px){
    
}
/*Very Large Screen*/
@media screen and (min-width: 1801px){
    
}