*{
    box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}
html{
    background-color: #EEEEEE;
    /*medium screen*/
    font-size: 18px;
    font-family: "Comic Sans MS";
}
a{
    text-decoration: none;
    color: cadetblue;
    transition: All .2s linear;
}
a:hover{
    color: coral;
}
#content{
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
}

/*Small Screen*/
@media screen and (max-width: 600px){
    
}
/*Medium Screen*/
@media screen and (min-width: 601px) and (max-width: 1000px){
    
}
/*Large Screen*/
@media screen and (min-width: 1001px) and (max-width: 1800px){
    
}
/*Very Large Screen*/
@media screen and (min-width: 1801px){
    
}