*{
    box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}
html{
    background-color: #EEEEEE;
    overflow-x: hidden;
    /*medium screen*/
    font-size: 18px;
    font-family: "Comic Sans MS";
}
a{
    text-decoration: none;
}
::-webkit-scrollbar {
    height: .5vw;
    width: .5vw;
    box-shadow: none;
}
::-webkit-scrollbar:hover {
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
::-webkit-scrollbar-thumb {
    border-radius: .25vw;
    background-color: rgba(0,0,0,.2);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,.3);
}

/*Small Screen*/
@media screen and (max-width: 600px){
    
}
/*Medium Screen*/
@media screen and (min-width: 601px) and (max-width: 1000px){
    
}
/*Large Screen*/
@media screen and (min-width: 1001px) and (max-width: 1800px){
    
}
/*Very Large Screen*/
@media screen and (min-width: 1801px){
    
}