/*Content Part*/
#content{
    position: relative;
    min-width: 100%;
    /*medium screen*/
    margin-top: 14vw;
}
article{
    margin: 10vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    padding: 5vw;
    padding-top: 4vw;
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
}

/*Small Screen*/
@media screen and (max-width: 600px){
    
}
/*Medium Screen*/
@media screen and (min-width: 601px) and (max-width: 1000px){
    
}
/*Large Screen*/
@media screen and (min-width: 1001px) and (max-width: 1800px){
    
}
/*Very Large Screen*/
@media screen and (min-width: 1801px){
    
}