<div id="music-player">
<audio id="audio-container"></audio>
<div id="player-minimized"></div>
<div id="player-controller">
    <div id="controller-cover"></div>
    <div id="controller-hide" class="music-button"></div>
    <div id="controller-pause" class="music-button"></div>
    <div id="controller-forward" class="music-button"></div>
    <div id="controller-backward" class="music-button"></div>
    <div id="controller-list" class="music-button"></div>
    <div id="controller-playmode" class="music-button"></div>
</div>
<div id="player-bar">
    <div id="bar-info">
        <nobr><div id="info-title" class="music-info">Title</div><div id="info-artist" class="music-info">Artist</div><div id="info-album" class="music-info">Album</div></nobr>
    </div>
    <div id="bar-progress">
        <div id="progress-current">00:00</div>
        <div id="progress-control">
            bar
        </div>
        <div id="progress-duration">59:59</div>
    </div>
</div>
<div id="player-list">
    <div class="list-item"></div>
</div>
</div>